@font-face {

    font-family: "helvetica";
    src: url("helvetica.woff") format("woff");

}
@font-face {

    font-family: "helvetica";
    src: url("helvetica.woff2") format("woff2");

}

html{
	font-size: 62.5%;
}

body{
		max-width: 100%;
		overflow-x: hidden;
		font-size: 1.6rem;

	}
 	
/*  *************************************navigation bar styling********************************************************  */
.main-header {
		padding-right: 4rem !important;
		padding-left: 7.2rem !important;
		padding-top: 1rem  !important ;
		padding-bottom: 0.8rem !important;

}
.navbar-brand img {
		height: 4rem;
		width: 16rem;
	}

.navbar-brand 	  {
		padding: 1.4rem !important;
	}
.navbar-nav > li  {
		padding: 0rem 1rem;

	}
.navbar-nav a     {
		color:#2050FD;
	}
.nabar-left a     {
	 	font-size:3rem;
	}
.navbar-nav       {
		margin-left: 0.5rem !important;
		padding: 0.1rem;
		height: 6rem;
	}
.navbar-right 	  {
    	margin-right: -0.8rem;
	}
.loging-btn 	  {
    	padding: 0.8rem 3.8rem;
   	 	font-size: 1.6rem;
    	border-radius: 0;
		box-shadow: 0.1rem 0.2rem 0.4rem 0.1rem rgba(202,226,254,0.5);
		border: 0.1rem solid #E5E9E7;
		color: #2050FD !important;
		font-family: font114242 !important; 
    	
	}
#btn_link1 {
		margin: 0.8rem 0rem;
	}
#btn_link2{
		margin: 0.8rem 0rem;
	}
.get-demo {
    	font-size: 1.6rem;
    	padding: 0.8rem 2rem;
    	background-color: #FDB81E;
    	border-radius: 0;
        border: 0.1rem solid #F4A528;
    	box-shadow: 0rem 0.6rem 0.3rem rgba(255,228,211, 0.5);
	}

	.navbar-left {
    	margin-left: 5.5rem !important;
    	padding: 0.1rem;
    	height: 6rem;
	}

	.navbar-nav > li {
	    padding: 0rem 0.3rem !important;
	}

	.navbar-nav>li>a {
		font-size: 1.7rem;
		padding-top: 2.4rem;
		font-family: font116710;
		font-weight: bold;
	}
	
	.topnav{
		margin-top: -0.2rem;
	}

/*   **********************first section styling************************************** */

.first-section {
		margin-top: 5.2rem;
	}
.first-section img {
		float: right;
	}

.first-left-section h1,.navbar-brand h4, .second-left-section h1{
 		color: #2249F9;
 	}
.first-left-section-btn{
		margin-top: 8rem;
	}
.first-left-section-btn input {
		height: 4.8rem;
		border: 0.1rem solid #D0D6E7;
		border-radius: 0;
		box-shadow: inset 0rem 0rem 0.2rem 0.5rem rgba(251,251,251,1.0), 0 0 0.8rem 0.6rem rgba(242,247,255, 0.6);
	}
.get-demo-btn{
		font-size: 1.6rem;
    	padding: 1.2rem 2.8rem;
		background-color: #FDB81E;
		border: 0.1rem solid #F4A528;
		border-radius: 0;
		
		box-shadow: 0rem 0rem 1.1rem 0.5rem rgba(255,228,211, 0.5);
	}
.first-left-section h3{
		color: #686869;
		font-size: 2.5rem;
		font-family: "helvetica";
		padding-bottom: 0rem;
	}

.first-left-section h1{
		font-family: font114242;
		font-size: 5.0rem;
		font-weight: 500;
		margin-top: 1.5rem;
		
	}
.first-left-section p{
		color: #1976fb;
	
		font-size: 1.5rem;
		font-weight: 600;
	/*	margin-bottom: 0.3rem;    */
		padding-left: 0.2rem;
	}

	.first-left-section{
		padding: 13.3rem 1.0rem 5.0rem 9.4rem !important;
	}
	.first-right-section{
		padding: 5.0rem 0rem 0rem 0.2rem;
	}

/*  *********************************second section styling**************************************** */	

.second-section-container{
		box-shadow: 0rem 0rem 0.3rem 0rem rgba(0, 0, 0, 0.2); /* 0 6px 20px 0 rgba(0, 0, 0, 0.19);   */
		background-color: #FCFCFF;
	}
.second-section{
		padding: 0;
    	margin-top: 5.2rem;
	}

.second-section img {
		margin-top: 2rem;

		float: right;
		margin-bottom: 9.9rem;
	}


.second-left-section h3{
		color: #121212;
		padding-top: 2rem;
		font-size: 2rem;
		font-family: font116710;
	/*	font-family: font114242; /*  helvetica neue roman */
		line-height: inherit;
	}
.second-left-section h1{
		font-size: 5rem;
		font-family: "helvetica";

	
	}
.second-section-line{
		width: 26.8rem;
		border-bottom: 0.2rem solid #1976fb;
	}
.second-section-line h5{
   		padding-top: 5rem; 
   		font-size:1.5rem; 
   		color: #1a75ff;
	}

	.second-left-section{
		padding: 4rem 1rem 5rem 13.3rem !important;
	}
	.second-right-section{
		padding-left:0rem !important;
	}
	.second-left-section b{
		padding-bottom: 0.8rem; 
   		font-size:1.5rem; 
		color: #1a75ff;
		border-bottom: 0.2rem solid #1a75ff;
	}
	.second-left-section h5{
		padding-top: 5.5rem;
	}

/*  *****************************third section styling***************************************** */

.third-section-container{
		margin-top: 9rem;
	}
.third-section-items{
		padding: 0rem;
	}

.third-section-items img {
		object-fit: cover;
	}

.third-section-container h1 {
		color: #1976fb;
		font-size: 5.0rem;
		font-family: "helvetica";
	}
.third-section-container h3 {
		color: #1976fb;
		font-size: 2.2rem;
		padding: 1.2rem 2.4rem;
		font-weight: 500;
	}

.third-section-item-text h3 {
		padding: 0rem 2.3rem;
		font-size: 2.0rem;
		font-family: font116710;  /* helvetica neue light */
		font-weight: lighter !important;
		color: #686869;
		line-height: inherit;
		margin-top: unset;
	}

	.third-section {
		padding: 6rem 1.0rem 5rem 3.6rem;
	}
	.third-section-item-description{

		padding-left: 2rem;
	}
	.third-section-column3{
		padding-right: 2rem;
	}
	

	
/*    *******************************************fourth section styling********************************* */	
.fourth-section-container h1 {
		color: #1976fb;
		font-size: 5rem;
		font-family: "helvetica";
	}
.fourth-section-container h4 {
		color: #121212;
		padding: 4rem 16rem 0rem 0rem !important;
		line-height: 1.6;

	}
.fourth-section-container{
		margin-top:6.4rem;
	}
.fourth-section img{
		padding-left: 7.6rem;
	}
.fourth-right-section {
		margin-top: 8.0rem;
	}
.fourth-right-section h4 {
		padding-top: 5.0rem;
		font-family: font116710;
		font-size: 2.0rem;
	}

.fourth-right-section h5{
		padding-top: 4.2rem; 
		
	}
.fourth-right-section b{
		padding-bottom: 0.8rem;
		font-size:1.4rem; 
		color: #1a75ff;
		border-bottom: 0.2rem solid #1a75ff;
	}

	.fourth-section-bottom-image{
		position: absolute;
		margin:44.7rem 52.9rem 0rem 58.0rem;
	}
	
	.fourth-section-container {
	background-image: url("images/fourth-section-bottom-image.png");
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 100%;
	background-size: 18% 34%;
	}
	.fourth-section{
		padding-bottom: 8.8rem;
	}

	.fourth-left-section{
		padding:  4rem 4.5rem 6.6rem 0rem;
		z-index: -1;
	}

/*****************************************fifth section styling**************************************** */	
.fifth-section-container{
	box-shadow: 0rem -0.2rem 0.9rem 0rem rgba(247,247,247, 3.0), 
				inset 0.0rem -0.3rem 0.2rem 0.2rem rgba(231,235,250, 0.3);
		background-color: #F9FAFA;
		margin-top:16rem;
	}
.fifth-upper-section h5{
		padding-top: 3rem; 
		
	}

	.fifth-upper-section b{
		padding-bottom: 0.8rem;
		font-size:1.4rem; 
		color: #1a75ff;
		border-bottom: 0.2rem solid #1a75ff;
	}

	.fifth-upper-section{
		padding-top: 5.6rem; padding-left: 2.4rem;
	}
	.fifth-upper-section h1{
		color: #1a75ff;
		font-family: helvetica;
		font-size: 5.0rem;
	}
	.fifth-lower-section{
		padding: 4rem 0rem 9.8rem 0rem;
	}
	.fifth-section{
		margin-left:11.80%;
	}
	.fifth-lower-section .lower-img{
		padding-top: 5rem;
	}
	

/*  *******************************************footer section********************************************** */	
.footer-list li {
		display: inline;
		border-right: 0.1rem solid #1a75ff;
		padding-right: 2rem;
		padding-left: 2rem;
	}
.footer-list li:last-of-type a {
		border-right: none;
	}
.links{
		margin-top: 3rem;
		padding: 0.9rem 3.8rem 3rem 0rem;
	}
.footer-section a{
		color: #2384FD;
		font-size: 1.6rem;
		font-weight: 500 !important;
	}
.copyright{
		padding-left: 0rem;
		padding-bottom: 2rem;
		 
	}
	.copyright img{
		height:0.3rem !important;
		width:0.3rem !important;
	}
	
.copyright p::before{
		content: ' \00A9';
}

/*   *******************************************extra styling************************************************/
